body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 3.125rem auto 0 auto;
  font-family: Sacramento, cursive;
  font-size: 5.625rem;
  color: hsl(195, 62%, 45%);
  line-height: 1.25;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.75rem;
  color: #f16f6f;
  font-weight: normal;
}

h3 {
  font-family: 'Merriweather', serif;
  color: hsl(195, 62%, 45%);
}

p {
  color: #40514E;
  font-size: 1.25rem;
  line-height: 2;
}

hr {
  border-top: 0.5rem dotted #cbdee6
    /* #EAF6F6 */
    /*#cdd5e0*/
  ;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 50px auto;
  width: 75px;
}

.top-container {
  position: relative;
  padding-top: 100px;
  width: 100%;
  overflow-x: hidden;
  background-image: url("../images/lufkin-landscape-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.underline {
  text-decoration: underline;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 73px;
  font-size: 1.25rem;
  color: hsl(195, 62%, 45%);
}

.middle-container {
  margin-top: 75px;
}

.profile {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: 0 auto;
  line-height: 2;
}

.bottom-container {
  margin-top: 75px;
  margin-bottom: 0;
  /*background-color: #66BFBF;*/
  background-color: hsl(195, 62%, 65%);
  padding-top: 60px;
}

.bottom-container p {
  margin-bottom: 0;
  padding: 20px 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}

.skill-row {
  width: 50%;
  margin: 0 auto 50px auto;
  text-align: left;
  padding: 5%;
  border-radius: 25px;
  box-shadow: 0 0 10px #cbdee6;
}

.project-row {
  width: 50%;
  margin: 0 auto 50px auto;
  text-align: middle;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 0 0 10px #cbdee6;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 425px;
}

.top-cloud {
  position: absolute;
  right: 190px;
  top: 160px;
}

.computer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.seo-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.project-preview-image {
  width: 95%;
  margin: 0 2.5%;
  border-radius: 25px;
}

.profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: -moz-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: -ms-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: -o-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: linear-gradient(to bottom, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 5;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: -moz-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: -ms-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: -o-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: linear-gradient(to bottom, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  text-decoration: none;
}


.footer-link {
  color: hsl(195, 62%, 45%);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0 25px;
}

.footer-link:hover {
  color: #EAF6F6;
}

/* RESPONSIVE */


@media (max-width: 425px) {
  .top-container {
    background-image: url("../images/bg-lufkin-landscape-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
  }

  h1 {
    font-size: 4.6rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .top-cloud {
    position: absolute;
    top: 60px;
    right: -40px;
  }

  .bottom-cloud {
    left: -40px;
    bottom: 325px;
  }

  .profile {
    width: 80%;
  }

  .skill-row {
    width: 80%;
    text-align: center;
  }

  .computer-image {
    width: 80%;
    float: none;
    margin: 0 10%;
  }

  .seo-image {
    width: 80%;
    float: none;
    margin: 0 10%;
  }

  .project-row {
    width: 80%;
    padding: 5%;
  }

  .contact-me {
    width: 80%;
  }
}
