body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: hsla(198, 71%, 85%, 1);
  -webkit-text-size-adjust: 100%;
}

.topnav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  transition: top 0.3s;
  z-index: 100;
  text-align: center;
  background-color:	hsla(198, 71%, 85%, 1);
}

.topnav .icon {
  display: none;
}

.topnav a {
 color: hsl(195, 62%, 45%);
 text-decoration: none;
 font-size: 1.15rem;
 padding: 20px 20px;
 display: inline-block;
 list-style-type: none;
 margin: 0;
}

.topnav a:hover {
 color: black;
 background-color:	hsla(198, 71%, 85%, 1);
 text-decoration: none;
 cursor: pointer;
}

h1 {
  margin: 3.125rem auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 64px;
  color: hsl(195, 62%, 45%);
  line-height: 1.25;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.75rem;
  color: #f16f6f;
  font-weight: normal;
}

h3 {
  font-family: 'Merriweather', serif;
  color: hsl(195, 62%, 45%);
}

p {
  color: #40514E;
  font-size: 1.25rem;
  line-height: 2;
}

hr {
  border-top: 0.5rem dotted #cbdee6
    /* #EAF6F6 */
    /*#cdd5e0*/
  ;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 50px auto;
  width: 75px;
}

.top-container {
  position: relative;
  padding-top: 99px;
  width: 100%;
  overflow-x: hidden;
  background-image: url("../images/lufkin-landscape-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.underline {
  text-decoration: underline;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 73px;
  font-size: 1.25rem;
  color: hsl(195, 62%, 45%);
}

.subtitle-link {
  color: hsl(195, 62%, 45%);
  text-decoration: none;
  border-bottom: 2px dotted hsl(195, 62%, 45%);
}

.middle-container {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: white;
}

.profile {
  width: 30%;
  margin: auto;
}

.principles {
  width: 50%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: 0 auto;
  line-height: 2;
}

.bottom-container {
  margin-bottom: 0;
  /*background-color: #66BFBF;*/
  background-color: hsl(195, 62%, 65%);
  padding-top: 60px;
}

.bottom-container p {
  margin-bottom: 0;
  padding: 20px 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}

.collapsible {
  background-color: #BEE4F4;
  cursor: pointer;
  padding: 0 3%;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 1.17rem;
}

.active, .collapsible:hover {
  background-color: #aad9ee;
}

.collapsible h3:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: white;
  float: right;
  margin-left: 5px;
}

.active h3:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.fa-collapsible {
  color: hsl(195, 62%, 45%);
  margin-right: 2%;
}

.content {
  padding: 0 5%;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}

.skill-row {
  width: 50%;
  margin: 0 auto 50px auto;
  text-align: left;
  padding: 7%;
  border-radius: 25px;
  box-shadow: 0 0 10px #cbdee6;
}

.project-row {
  width: 50%;
  margin: 0 auto 50px auto;
  text-align: middle;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 0 0 10px #cbdee6;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 425px;
  transition: 2s;
}

.top-cloud {
  position: absolute;
  right: 190px;
  top: 90px;
  transition: 2s;
}

.computer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.seo-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.project-preview-image {
  max-width: 95%;
  margin: 0 2.5%;
  border-radius: 25px;
}

.profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: -moz-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: -ms-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: -o-linear-gradient(top, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  background-image: linear-gradient(to bottom, hsl(195, 70%, 60%), hsl(195, 70%, 45%));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 5;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: -moz-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: -ms-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: -o-linear-gradient(top, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  background-image: linear-gradient(to bottom, hsl(200, 70%, 55%), hsl(200, 70%, 40%));
  text-decoration: none;
}


.footer-link {
  color: hsl(195, 62%, 45%);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0 25px;
}

.footer-link:hover {
  color: #EAF6F6;
}

/* RESPONSIVE */

/* NAVBAR */
@media (max-width: 650px) {
  .topnav {
    width: 56.11px;
    border-radius: 56.11px;
    background-color: hsla(198, 71%, 85%, 1);
  }

  .topnav a {
    display: none;
  }

  .topnav a:hover {
   color: hsl(195, 62%, 35%);
   background-color: hsla(198, 71%, 85%, 1);
   text-decoration: none;
   cursor: pointer;
  }

  .topnav a.icon {
    float: left;
    display: block;
  }

  .topnav.responsive {
    position: fixed;
    width: 100%;
  }

  .topnav.responsive a.icon {
    position: fixed;
    left: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

/* MOBILE */
@media (max-width: 425px) {
  .top-container {
    background-image: url("../images/bg-lufkin-landscape-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
  }

  h1 {
    font-size: 64px;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .top-cloud {
    position: absolute;
    top: 60px;
    right: -40px;
  }

  .bottom-cloud {
    left: -40px;
    bottom: 325px;
  }

  .profile {
    width: 80%;
  }

  .skill-row {
    width: 80%;
    text-align: center;
  }

  .principles {
    width: 90%;
  }

  .computer-image {
    width: 80%;
    float: none;
    margin: 0 10%;
  }

  .seo-image {
    width: 80%;
    float: none;
    margin: 0 10%;
  }

  .project-row {
    width: 80%;
    padding: 5%;
  }

  .contact-me {
    width: 80%;
  }
}

/* TABLET */
@media (min-width: 426px) and (max-width: 1000px) {
  .top-cloud {
    position: absolute;
    top: 60px;
    right: -40px;
  }

  .bottom-cloud {
    left: -40px;
    bottom: 425px;
  }
  .profile {
    width: 60%;
  }

  .skill-row {
    width: 80%;
  }

  .principles {
    width: 90%;
  }

  .project-row {
    width: 80%;
    padding: 5%;
  }

  .contact-me {
    width: 80%;
  }
}
